* {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--bgrnd-color);
  font-family: "roboto", sans-serif;
  color: var(--main-txt-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  display: block;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--btn-color);
  color: var(--bgrnd-color);
  border-radius: 4px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--transition-dir);
  transition-timing-function: var(--transition-time-func);
  transition-delay: 0s;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785714286;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-txt-color);
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785714286;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-txt-color);
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-txt-color);
  }
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

:root {
  --btn-color: #2196f3;
  --main-txt-color: #757575;
  --title-txt-color: #212121;
  --bgrnd-color: #ffffff;
  --bgrnd-hero: #2f303a;
  --bgrnd-team: #f5f4fa;
  --border-color: #eeeeee;
  --border-color-secondary: #ececec;
  --additional-color-logo: #000000;
  --btn-active-color: #188ce8;
  --icon-color: #afb1b8;
  --transition-dir: 250ms;
  --transition-time-func: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto";
}

/* -------Header------ */
@media screen and (max-width: 767px) {
  .header-container {
    display: none;
  }
  .nav {
    display: none;
  }
  .addresses {
    display: none;
  }
  .header {
    border-bottom: 1px solid var(--border-color-secondary);
  }
  .header .logo-mob {
    font-family: "raleway";
    font-weight: 700;
    color: var(--btn-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .header .logo-mob__hdsecond {
    color: var(--additional-color-logo);
  }
  .mobile-menu {
    padding: 10px 0;
  }
  .mobile-menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  .menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--bgrnd-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .mob-menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  .nav-mob__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .nav-mob__item:not(:last-of-type) {
    margin-bottom: 32px;
  }
  .nav-mob__list .nav-mob__link {
    display: block;
    color: var(--title-txt-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .nav-mob__link:hover {
    color: #2196f3;
  }
  .addresses-mob__item:first-of-type {
    margin-bottom: 32px;
  }
  .addresses-mob__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--main-txt-color);
    display: inline-block;
    height: 40px;
    transition-property: color font-size line-height;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .addresses-mob__link:hover,
.addresses-mob__link:focus {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--btn-color);
  }
  .social-mob {
    display: flex;
    margin-top: 64px;
  }
  .social-mob__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    padding: 0 10px;
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    color: var(--btn-color);
  }
  .social-mob__item:last-of-type {
    padding-right: 0px;
    border-right: none;
  }
  .social-mob__item:first-of-type {
    padding-left: 0px;
    border-left: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-mob {
    display: none;
  }
  .js-menu-container {
    display: none;
  }
  .mobile-menu-section {
    display: none;
  }
  .header {
    border-bottom: 1px solid var(--border-color-secondary);
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu-toggle {
    display: none;
  }
  .header .nav {
    display: flex;
    align-items: center;
  }
  .header .nav__list {
    display: flex;
  }
  .header .nav__item:first-child {
    margin-right: 50px;
  }
  .header .nav__item:nth-child(2) {
    margin-right: 50px;
  }
  .header .nav__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    color: var(--title-txt-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
    position: relative;
  }
  .header .logo {
    font-family: "raleway";
    font-weight: 700;
    color: var(--btn-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .header .logo__hdsecond {
    color: var(--additional-color-logo);
  }
  .header .header-logo {
    display: block;
    margin-right: 92px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .header .nav__link:hover,
.header .tel-footer:hover,
.header .email-footer:hover {
    color: var(--btn-color);
  }
  .header .current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -2px;
    background-color: var(--btn-color);
  }
  .header .addresses {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .header .addresses__link {
    color: var(--main-txt-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .header .addresses__link:hover, .header .addresses__link:focus {
    color: var(--btn-color);
  }
  .header .addresses__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .logo-mob {
    display: none;
  }
  .js-menu-container {
    display: none;
  }
  .mobile-menu-section {
    display: none;
  }
  .header {
    border-bottom: 1px solid var(--border-color-secondary);
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu-toggle {
    display: none;
  }
  .header .nav {
    display: flex;
    align-items: center;
  }
  .header .nav__list {
    display: flex;
  }
  .header .nav__item:first-child {
    margin-right: 50px;
  }
  .header .nav__item:nth-child(2) {
    margin-right: 50px;
  }
  .header .nav__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: var(--title-txt-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
    position: relative;
  }
  .header .logo {
    font-family: "raleway";
    font-weight: 700;
    color: var(--btn-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .header .logo__hdsecond {
    color: var(--additional-color-logo);
  }
  .header .header-logo {
    display: block;
    margin-right: 97px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header .nav__link:hover,
.header .tel-footer:hover,
.header .email-footer:hover {
    color: var(--btn-color);
  }
  .header .current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    background-color: var(--btn-color);
  }
  .header .addresses {
    display: flex;
    justify-content: flex-end;
  }
  .header .addresses__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-txt-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .header .addresses__link:hover, .header .addresses__link:focus {
    color: var(--btn-color);
  }
  .header .addresses__icon {
    fill: currentColor;
  }
  .header .addresses__link--tel {
    margin-left: 30px;
  }
}
/* -------Hero Section------ */
@media screen and (max-width: 767px) {
  .hero {
    margin: 0 auto;
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__cta {
    max-width: 360px;
    margin: 0 auto 30px auto;
    font-family: inherit;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bgrnd-color);
    text-align: center;
  }
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
    padding: 10px 19px 10px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  .hero__btn:hover, .hero__btn:focus {
    background-color: var(--btn-active-color);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    margin: 0 auto;
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__cta {
    width: 360px;
    margin: 0 auto 30px auto;
    font-family: inherit;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bgrnd-color);
    text-align: center;
  }
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
    padding: 10px 19px 10px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  .hero__btn:hover, .hero__btn:focus {
    background-color: var(--btn-active-color);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    margin: 0 auto;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__cta {
    width: 696px;
    margin: 0 auto 30px auto;
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bgrnd-color);
    text-align: center;
  }
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
    padding: 10px 19px 10px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  .hero__btn:hover, .hero__btn:focus {
    background-color: var(--btn-active-color);
  }
}
/* ----Modal Window---- */
@media screen and (max-width: 767px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 100;
    overflow-y: scroll;
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    min-height: 609px;
    background-color: var(--bgrnd-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity 200ms ease 300ms, transform 150ms ease 400ms;
  }
  .modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
  .modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    fill: var(--btn-color);
  }
  .modal-title {
    margin-bottom: 12px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
  }
  .request-form {
    max-width: 450px;
    padding: 40px;
  }
  .label-name,
.label-tel,
.label-email {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--main-txt-color);
  }
  .label-comments {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--main-txt-color);
  }
  .input-name,
.input-tel,
.input-email {
    margin-top: 4px;
    padding-left: 42px;
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  .icon-form {
    position: absolute;
    bottom: 11px;
    left: 12px;
  }
  .label-comments textarea {
    display: inline-block;
    width: 370px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
  }
  .label-comments textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .request-form input:focus,
.request-form textarea:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--btn-color);
  }
  .label > input:focus ~ .icon-form {
    fill: var(--btn-color);
  }
  .label-terms {
    position: relative;
    width: 448px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
  }
  .send-form-btn {
    width: 200px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: var(--btn-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: transparent;
    color: var(--bgrnd-color);
  }
  .terms-link {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--btn-color);
  }
  .input-terms {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  .checkbox-custom {
    top: 4px;
    left: -22px;
    position: absolute;
    height: 16px;
    width: 15px;
    border: 2px solid #000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms linear;
  }
  .checkbox-icon {
    fill: transparent;
    transition: fill 250ms linear;
  }
  .input-terms:checked + .checkbox-custom {
    background-color: var(--btn-color);
    border-color: var(--btn-color);
  }
  .input-terms:checked + .checkbox-custom > .checkbox-icon {
    fill: var(--bgrnd-color);
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 100;
    overflow-y: scroll;
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    min-height: 609px;
    background-color: var(--bgrnd-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity 200ms ease 300ms, transform 150ms ease 400ms;
  }
  .modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
  .modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    fill: var(--btn-color);
  }
  .modal-title {
    margin-bottom: 12px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
  }
  .request-form {
    max-width: 450px;
    padding: 40px;
  }
  .label-name,
.label-tel,
.label-email {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--main-txt-color);
  }
  .label-comments {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--main-txt-color);
  }
  .input-name,
.input-tel,
.input-email {
    margin-top: 4px;
    padding-left: 42px;
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  .icon-form {
    position: absolute;
    bottom: 11px;
    left: 12px;
  }
  .label-comments textarea {
    display: inline-block;
    width: 370px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
  }
  .label-comments textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .request-form input:focus,
.request-form textarea:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--btn-color);
  }
  .label > input:focus ~ .icon-form {
    fill: var(--btn-color);
  }
  .label-terms {
    position: relative;
    width: 448px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
  }
  .send-form-btn {
    width: 200px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: var(--btn-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: transparent;
    color: var(--bgrnd-color);
  }
  .terms-link {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--btn-color);
  }
  .input-terms {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  .checkbox-custom {
    top: 4px;
    left: -22px;
    position: absolute;
    height: 16px;
    width: 15px;
    border: 2px solid #000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms linear;
  }
  .checkbox-icon {
    fill: transparent;
    transition: fill 250ms linear;
  }
  .input-terms:checked + .checkbox-custom {
    background-color: var(--btn-color);
    border-color: var(--btn-color);
  }
  .input-terms:checked + .checkbox-custom > .checkbox-icon {
    fill: var(--bgrnd-color);
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 100;
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--bgrnd-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity 200ms ease 300ms, transform 150ms ease 400ms;
  }
  .modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
  .modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    fill: var(--btn-color);
  }
  .modal-title {
    margin-bottom: 12px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
  }
  .request-form {
    width: 528px;
    padding: 40px;
  }
  .label-name,
.label-tel,
.label-email {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--main-txt-color);
  }
  .label-comments {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
    color: var(--main-txt-color);
  }
  .input-name,
.input-tel,
.input-email {
    margin-top: 4px;
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  .icon-form {
    position: absolute;
    bottom: 11px;
    left: 12px;
  }
  .label-comments textarea {
    display: inline-block;
    width: 448px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
  }
  .label-comments textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .request-form input:focus,
.request-form textarea:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--btn-color);
  }
  .label > input:focus ~ .icon-form {
    fill: var(--btn-color);
  }
  .label-terms {
    position: relative;
    width: 448px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
  }
  .send-form-btn {
    width: 200px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: var(--btn-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: transparent;
    color: var(--bgrnd-color);
  }
  .terms-link {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--btn-color);
  }
  .input-terms {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  .checkbox-custom {
    top: 4px;
    left: -22px;
    position: absolute;
    height: 16px;
    width: 15px;
    border: 2px solid #000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms linear;
  }
  .checkbox-icon {
    fill: transparent;
    transition: fill 250ms linear;
  }
  .input-terms:checked + .checkbox-custom {
    background-color: var(--btn-color);
    border-color: var(--btn-color);
  }
  .input-terms:checked + .checkbox-custom > .checkbox-icon {
    fill: var(--bgrnd-color);
  }
}
/* -------Features Section------ */
@media screen and (max-width: 767px) {
  .features__icons-wrapper {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--bgrnd-team);
    margin-bottom: 30px;
  }
  .features__list {
    margin: 0 auto;
    padding: 0 15px;
  }
  .features__item {
    margin-bottom: 30px;
  }
  .features__item:last-of-type {
    margin-bottom: 0;
  }
  .features__title {
    font-family: var(--main-font);
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-txt-color);
  }
  .features__desc {
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
  }
  .features__icons-wrapper {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--bgrnd-team);
    margin-bottom: 30px;
  }
  .features__item {
    width: 354px;
  }
  .features__title {
    font-family: var(--main-font);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--title-txt-color);
  }
  .features__desc {
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
    justify-content: space-between;
  }
  .features__icons-wrapper {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--bgrnd-team);
    margin-bottom: 30px;
  }
  .features__item {
    width: 270px;
  }
  .features__title {
    font-family: var(--main-font);
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
  }
  .features__desc {
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
/* -------Gallery Section------ */
@media screen and (max-width: 767px) {
  .gallery {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .gallery {
    display: none;
  }
}
.gallery {
  padding-top: 0px;
}
.gallery__wrapper {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.gallery__title {
  margin-bottom: 50px;
}
.gallery__list {
  display: flex;
  justify-content: space-between;
}
.gallery__item {
  position: relative;
}
.gallery__img {
  display: block;
}
.gallery__desc {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__desc-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--bgrnd-color);
}

/* -------Team Section------ */
@media screen and (max-width: 767px) {
  .team {
    background-color: var(--bgrnd-team);
    width: 100%;
  }
  .team__title {
    margin-bottom: 30px;
  }
  .team__list {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .team__item {
    margin-bottom: 30px;
    background-color: var(--bgrnd-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__item:last-of-type {
    margin-bottom: 0px;
  }
  .team__img {
    width: 450px;
  }
  .team__desc-wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
  }
  .team__desc {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__icons-list,
.team .icons-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }
  .team__icon-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: var(--icon-color);
    transition-property: color, background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .team__icon {
    fill: currentColor;
  }
  .team__icon-link:hover, .team__icon-link:focus {
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
  }
}
@media screen and (min-width: 768px) {
  .team {
    background-color: var(--bgrnd-team);
    width: 100%;
  }
  .team__title {
    margin-bottom: 30px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
  }
  .team__item {
    width: calc((100% - 30px) / 2);
    background-color: var(--bgrnd-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__img {
    width: 354px;
  }
  .team__desc-wrapper {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
  }
  .team__desc {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__icons-list,
.team .icons-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }
  .team__icon-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: var(--icon-color);
    transition-property: color, background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .team__icon {
    fill: currentColor;
  }
  .team__icon-link:hover, .team__icon-link:focus {
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
  }
}
@media screen and (min-width: 1200px) {
  .team {
    background-color: var(--bgrnd-team);
    width: 100%;
    padding-bottom: 94px;
  }
  .team__title {
    margin-bottom: 50px;
  }
  .team__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .team__item {
    width: calc((100% - 90px) / 4);
    background-color: var(--bgrnd-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__desc-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
  }
  .team__desc {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team__icons-list,
.team .icons-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }
  .team__icon-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: var(--icon-color);
    transition-property: color, background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .team__icon {
    fill: currentColor;
  }
  .team__icon-link:hover, .team__icon-link:focus {
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
  }
}
/* -------Cpmpamies Section------ */
@media screen and (max-width: 767px) {
  .companies__title {
    margin-bottom: 30px;
  }
  .companies__list {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
  }
  .companies__item {
    width: calc((100% - 30px) / 2);
  }
  .companies__link {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    outline: transparent;
    transition-property: color, border-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .companies__icon {
    fill: currentColor;
  }
  .companies__link:hover,
.companies__link:focus {
    color: var(--btn-color);
    border-color: var(--btn-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .companies__title {
    margin-bottom: 30px;
  }
  .companies__list {
    width: 738px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
  }
  .companies__item {
    width: calc((100% - 60px) / 3);
  }
  .companies__link {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    outline: transparent;
    transition-property: color, border-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .companies__icon {
    fill: currentColor;
  }
  .companies__link:hover,
.companies__link:focus {
    color: var(--btn-color);
    border-color: var(--btn-color);
  }
}
@media screen and (min-width: 1200px) {
  .companies__title {
    margin-bottom: 50px;
  }
  .companies__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 16px;
  }
  .companies__link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    outline: transparent;
    transition-property: color, border-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .companies__icon {
    fill: currentColor;
  }
  .companies__link:hover,
.companies__link:focus {
    color: var(--btn-color);
    border-color: var(--btn-color);
  }
}
/* -------Footer Section------ */
@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
    background-color: var(--bgrnd-hero);
    padding: 60px 0px;
  }
  .footer__contacts {
    width: 231px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .footer__logo {
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }
  .footer .logo {
    font-family: "raleway";
    font-weight: 700;
    color: var(--btn-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .footer .logo__ftsecond {
    color: var(--bgrnd-color);
  }
  .footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--bgrnd-color);
  }
  .footer-icon-link {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer-icon {
    fill: var(--bgrnd-color);
  }
  .footer-icons-list {
    margin-top: 20px;
  }
  .footer-contact-wrapper {
    max-width: 450px;
  }
  .footer-title-subscribe {
    margin-bottom: 20px;
  }
  .footer-social-wrapper {
    margin-bottom: 60px;
  }
  .logo__ftsecond {
    color: var(--bgrnd-color);
  }
  .address-footer-item {
    text-align: center;
  }
  .address-footer-email {
    text-align: center;
    margin-bottom: 8px;
  }
  .address-footer {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
  }
  .email-footer,
.tel-footer {
    letter-spacing: 0.03em;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142857143;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  .label-footer-contact {
    width: 100%;
    max-width: 450px;
    padding: 0 15px;
  }
  .input-footer-contact {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    outline: 1px solid transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
  .input-footer-contact::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .input-footer-contact:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--btn-color);
  }
  .btn-footer-submit {
    margin: 0 auto;
    padding: 10px 28px;
    min-width: 200px;
    align-content: center;
    justify-content: center;
    border: none;
    display: flex;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .btn-footer-submit:hover {
    background-color: var(--btn-active-color);
  }
  .btn-footer-name {
    color: var(--bgrnd-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    display: block;
  }
  .icon-btn-footer {
    fill: var(--bgrnd-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    width: 100%;
    background-color: var(--bgrnd-hero);
    padding: 60px 0px;
  }
  .footer__contacts {
    width: 231px;
  }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    gap: 60px 0px;
  }
  .footer .logo {
    font-family: "raleway";
    font-weight: 700;
    color: var(--btn-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .footer .logo__ftsecond {
    color: var(--bgrnd-color);
  }
  .footer__logo {
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }
  .footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--bgrnd-color);
  }
  .footer-icon-link {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer-icon {
    fill: var(--bgrnd-color);
  }
  .footer-icons-list {
    margin-top: 20px;
  }
  .footer-contact-wrapper {
    width: 450px;
  }
  .footer-contacts {
    width: 232px;
    max-width: 450px;
  }
  .footer-title-subscribe {
    margin-bottom: 20px;
  }
  .logo__ftsecond {
    color: var(--bgrnd-color);
  }
  .address-footer-item {
    text-align: center;
  }
  .address-footer-email {
    text-align: center;
    margin-bottom: 8px;
  }
  .address-footer {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
  }
  .email-footer,
.tel-footer {
    letter-spacing: 0.03em;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142857143;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  .input-footer-contact {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    outline: 1px solid transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
  .input-footer-contact::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .input-footer-contact:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--btn-color);
  }
  .btn-footer-submit {
    margin: 0 auto;
    padding: 10px 28px;
    min-width: 200px;
    align-content: center;
    justify-content: center;
    border: none;
    display: flex;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .btn-footer-submit:hover {
    background-color: var(--btn-active-color);
  }
  .btn-footer-name {
    color: var(--bgrnd-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    display: block;
  }
  .icon-btn-footer {
    fill: var(--bgrnd-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    background-color: var(--bgrnd-hero);
    padding: 60px 0px;
  }
  .footer__contacts {
    width: 231px;
  }
  .footer__wrapper {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
  .footer .logo {
    font-family: "raleway";
    font-weight: 700;
    color: var(--btn-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .footer .logo__ftsecond {
    color: var(--bgrnd-color);
  }
  .footer__logo {
    margin-bottom: 9px;
    display: block;
  }
  .footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
  }
  .footer-icon-link {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer-icon {
    fill: var(--bgrnd-color);
  }
  .footer-icons-list {
    margin-top: 20px;
  }
  .footer-contact {
    display: flex;
    gap: 12px;
  }
  .footer-title-subscribe {
    margin-bottom: 20px;
  }
  .logo__ftsecond {
    color: var(--bgrnd-color);
  }
  .address-footer {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
  }
  .email-footer {
    margin-bottom: 2px;
  }
  .email-footer,
.tel-footer {
    letter-spacing: 0.03em;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142857143;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  .input-footer-contact {
    width: 358px;
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    outline: 1px solid transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
  .input-footer-contact::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .input-footer-contact:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--btn-color);
  }
  .btn-footer-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
    padding: 10px 28px;
    min-width: 200px;
    align-content: center;
    justify-content: center;
    border: none;
    display: flex;
    gap: 10px;
  }
  .btn-footer-submit:hover {
    background-color: var(--btn-active-color);
  }
  .btn-footer-name {
    color: var(--bgrnd-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    display: block;
  }
  .icon-btn-footer {
    fill: var(--bgrnd-color);
  }
}
@media screen and (max-width: 767px) {
  .filters {
    width: 326px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .filter-btn {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
    background-color: var(--bgrnd-team);
    border: none;
    border-radius: 4px;
    outline: transparent;
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .filter-btn:hover,
.filter-btn:hover {
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (min-width: 768px) {
  .section-portfolio {
    width: 100%;
  }
  .filters {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .filter-btn {
    padding: 6px 26px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
    background-color: var(--bgrnd-team);
    border: none;
    border-radius: 4px;
    outline: transparent;
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .filter-btn:hover {
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .filter-btn:focus {
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (min-width: 1200px) {
  .section-portfolio {
    width: 100%;
  }
  .filters {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .filter-btn {
    padding: 6px 26px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
    background-color: var(--bgrnd-team);
    border: none;
    border-radius: 4px;
    outline: transparent;
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .filter-btn:hover {
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .filter-btn:focus {
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
/* -----------*** Portfolio cards ***----------  */
@media screen and (max-width: 767px) {
  .portfolio-list {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
  }
  .portfolio-item {
    width: 100%;
    background: var(--bgrnd-color);
    outline: transparent;
  }
  .portfolio-item:not(last-of-type) {
    margin-bottom: 30px;
  }
  .portfolio-item-name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-txt-color);
  }
  .portfolio-item-desc {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
  }
  .portfolio-desc-wrapper {
    width: 100%;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  .portfolio-card {
    text-decoration: none;
    color: inherit;
    display: block;
    outline: transparent;
    position: relative;
    transition-property: box-shadow;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .hover-container {
    width: 450px;
    height: 294px;
    position: relative;
  }
  .card-desc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    opacity: 1;
    height: 0;
    transition: 0.5s ease;
  }
  .card-desc-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
    width: 402px;
  }
  .portfolio-card:hover .card-desc,
.portfolio-card:focus .card-desc {
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .portfolio-item {
    width: calc((100% - 30px) / 2);
    background: var(--bgrnd-color);
    outline: transparent;
  }
  .portfolio-item-name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-txt-color);
  }
  .portfolio-desc-wrapper {
    width: 100%;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  .portfolio-item-desc {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
  }
  .portfolio-card {
    text-decoration: none;
    color: inherit;
    display: block;
    outline: transparent;
    position: relative;
    transition-property: box-shadow;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .hover-container {
    width: 354px;
    height: 294px;
    position: relative;
  }
  .card-desc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    opacity: 1;
    height: 0;
    transition: 0.5s ease;
  }
  .card-desc-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
    width: 306px;
  }
  .portfolio-card:hover .card-desc,
.portfolio-card:focus .card-desc {
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .portfolio-item {
    width: calc((100% - 60px) / 3);
    background: var(--bgrnd-color);
    outline: transparent;
  }
  .portfolio-item-name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-txt-color);
  }
  .portfolio-desc-wrapper {
    width: 100%;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  .portfolio-item-desc {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
  }
  .portfolio-card {
    text-decoration: none;
    color: inherit;
    display: block;
    outline: transparent;
    position: relative;
    transition-property: box-shadow;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }
  .portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .hover-container {
    width: 370px;
    height: 294px;
    position: relative;
  }
  .card-desc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    opacity: 1;
    height: 0;
    transition: 0.5s ease;
  }
  .card-desc-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
    width: 322px;
  }
  .portfolio-card:hover .card-desc,
.portfolio-card:focus .card-desc {
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}/*# sourceMappingURL=main.css.map */