/* -------Footer Section------ */
@media screen and (max-width: $mobile) {
  .footer {
    width: 100%;
    background-color: var(--bgrnd-hero);
    padding: 60px 0px;
    &__contacts {
      width: 231px;
      margin: 0 auto;
      margin-bottom: 60px;
    }

    &__logo {
      margin-bottom: 20px;
      display: block;
      text-align: center;
    }
    .logo {
      font-family: "raleway";
      font-weight: 700;
      color: var(--btn-color);
      font-size: 26px;
      letter-spacing: 0.03em;
      text-decoration: none;
      &__ftsecond {
        color: var(--bgrnd-color);
      }
    }
    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.03em;
      text-align: center;
      color: var(--bgrnd-color);
    }

    &-icon-link {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
    &-icon {
      fill: var(--bgrnd-color);
    }

    &-icons-list {
      margin-top: 20px;
    }
    &-contact-wrapper {
      max-width: 450px;
    }
    &-title-subscribe {
      margin-bottom: 20px;
    }
    &-social-wrapper {
      margin-bottom: 60px;
    }
  }

  .logo__ftsecond {
    color: var(--bgrnd-color);
  }

  .address-footer-item {
    text-align: center;
  }

  .address-footer-email {
    text-align: center;
    margin-bottom: 8px;
  }

  .address-footer {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
  }

  .email-footer,
  .tel-footer {
    letter-spacing: 0.03em;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  .label-footer-contact {
    width: 100%;
    max-width: 450px;
    padding: 0 15px;
  }
  .input-footer-contact {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    outline: 1px solid transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .input-footer-contact::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .input-footer-contact:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--btn-color);
  }

  .btn-footer-submit {
    margin: 0 auto;
    padding: 10px 28px;
    min-width: 200px;
    align-content: center;
    justify-content: center;
    border: none;
    display: flex;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }

  .btn-footer-submit:hover {
    background-color: var(--btn-active-color);
  }

  .btn-footer-name {
    color: var(--bgrnd-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    display: block;
  }

  .icon-btn-footer {
    fill: var(--bgrnd-color);
  }
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
  .footer {
    width: 100%;
    background-color: var(--bgrnd-hero);
    padding: 60px 0px;
    &__contacts {
      width: 231px;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
      gap: 60px 0px;
    }
    .logo {
      font-family: "raleway";
      font-weight: 700;
      color: var(--btn-color);
      font-size: 26px;
      letter-spacing: 0.03em;
      text-decoration: none;
      &__ftsecond {
        color: var(--bgrnd-color);
      }
    }
    &__logo {
      margin-bottom: 20px;
      display: block;
      text-align: center;
    }
    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.03em;
      text-align: center;
      color: var(--bgrnd-color);
    }

    &-icon-link {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
    &-icon {
      fill: var(--bgrnd-color);
    }

    &-icons-list {
      margin-top: 20px;
    }
    &-contact-wrapper {
      width: 450px;
    }
    &-contacts {
      width: 232px;
      max-width: 450px;
    }
    &-title-subscribe {
      margin-bottom: 20px;
    }
  }

  .logo__ftsecond {
    color: var(--bgrnd-color);
  }

  .address-footer-item {
    text-align: center;
  }

  .address-footer-email {
    text-align: center;
    margin-bottom: 8px;
  }

  .address-footer {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
  }

  .email-footer,
  .tel-footer {
    letter-spacing: 0.03em;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }

  .input-footer-contact {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    outline: 1px solid transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .input-footer-contact::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  .input-footer-contact:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--btn-color);
  }

  .btn-footer-submit {
    margin: 0 auto;
    padding: 10px 28px;
    min-width: 200px;
    align-content: center;
    justify-content: center;
    border: none;
    display: flex;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
  }

  .btn-footer-submit:hover {
    background-color: var(--btn-active-color);
  }

  .btn-footer-name {
    color: var(--bgrnd-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    display: block;
  }

  .icon-btn-footer {
    fill: var(--bgrnd-color);
  }
}

@media screen and (min-width: $desktop) {
  .footer {
    width: 100%;
    background-color: var(--bgrnd-hero);
    padding: 60px 0px;
    &__contacts {
      width: 231px;
    }
    &__wrapper {
      display: flex;
      gap: 70px;
      align-items: baseline;
    }
    .logo {
      font-family: "raleway";
      font-weight: 700;
      color: var(--btn-color);
      font-size: 26px;
      letter-spacing: 0.03em;
      text-decoration: none;
      &__ftsecond {
        color: var(--bgrnd-color);
      }
    }
    &__logo {
      margin-bottom: 9px;
      display: block;
    }
    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: calc(16 / 14);
      letter-spacing: 0.03em;
      color: var(--bgrnd-color);
    }
    &-icon-link {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
    &-icon {
      fill: var(--bgrnd-color);
    }

    &-icons-list {
      margin-top: 20px;
    }
    &-contact {
      display: flex;
      gap: 12px;
    }

    &-title-subscribe {
      margin-bottom: 20px;
    }
  }

  .logo__ftsecond {
    color: var(--bgrnd-color);
  }

  .address-footer {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--bgrnd-color);
  }

  .email-footer {
    margin-bottom: 2px;
  }

  .email-footer,
  .tel-footer {
    letter-spacing: 0.03em;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }

  .input-footer-contact {
    width: 358px;
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    outline: 1px solid transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .input-footer-contact::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  .input-footer-contact:focus {
    outline: 1px solid transparent;
    border: 1px solid var(--btn-color);
  }

  .btn-footer-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    background-color: var(--btn-color);
    color: var(--bgrnd-color);
    border-radius: 4px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: var(--transition-dir);
    transition-timing-function: var(--transition-time-func);
    transition-delay: 0s;
    padding: 10px 28px;
    min-width: 200px;
    align-content: center;
    justify-content: center;
    border: none;
    display: flex;
    gap: 10px;
  }

  .btn-footer-submit:hover {
    background-color: var(--btn-active-color);
  }

  .btn-footer-name {
    color: var(--bgrnd-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    display: block;
  }

  .icon-btn-footer {
    fill: var(--bgrnd-color);
  }
}
