/* -------Team Section------ */
@media screen and (max-width: $mobile) {
  .team {
    background-color: var(--bgrnd-team);
    width: 100%;
    &__title {
      margin-bottom: 30px;
    }

    &__list {
      max-width: 450px;
      margin: 0 auto;
    }

    &__item {
      margin-bottom: 30px;
      background-color: var(--bgrnd-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }

    &__item:last-of-type {
      margin-bottom: 0px;
    }
    &__img {
      width: 450px;
    }
    &__desc-wrapper {
      padding-top: 30px;
      padding-bottom: 24px;
    }
    &__name {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: calc(19 / 16);
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--title-txt-color);
    }
    &__desc {
      font-size: 16px;
      line-height: calc(19 / 16);
      text-align: center;
      letter-spacing: 0.03em;
    }
    &__icons-list,
    .icons-list {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 16px;
    }
    &__icon-link {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      color: var(--icon-color);
      transition-property: color, background-color;
      transition-duration: var(--transition-dir);
      transition-timing-function: var(--transition-time-func);
      transition-delay: 0s;
    }
    &__icon {
      fill: currentColor;
    }
    &__icon-link:hover,
    &__icon-link:focus {
      background-color: var(--btn-color);
      color: var(--bgrnd-color);
    }
  }
}

@media screen and (min-width: $tablet) {
  .team {
    background-color: var(--bgrnd-team);
    width: 100%;
    &__title {
      margin-bottom: 30px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px 30px;
    }

    &__item {
      width: calc((100% - 30px) / 2);
      background-color: var(--bgrnd-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }

    &__img {
      width: 354px;
    }
    &__desc-wrapper {
      padding-top: 30px;
      padding-bottom: 24px;
    }
    &__name {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: calc(19 / 16);
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--title-txt-color);
    }
    &__desc {
      font-size: 16px;
      line-height: calc(19 / 16);
      text-align: center;
      letter-spacing: 0.03em;
    }
    &__icons-list,
    .icons-list {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 16px;
    }
    &__icon-link {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      color: var(--icon-color);
      transition-property: color, background-color;
      transition-duration: var(--transition-dir);
      transition-timing-function: var(--transition-time-func);
      transition-delay: 0s;
    }
    &__icon {
      fill: currentColor;
    }
    &__icon-link:hover,
    &__icon-link:focus {
      background-color: var(--btn-color);
      color: var(--bgrnd-color);
    }
  }
}

@media screen and (min-width: $desktop) {
  .team {
    background-color: var(--bgrnd-team);
    width: 100%;
    padding-bottom: 94px;
    &__title {
      margin-bottom: 50px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }

    &__item {
      width: calc((100% - 90px) / 4);
      background-color: var(--bgrnd-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
    &__desc-wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__name {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: calc(19 / 16);
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--title-txt-color);
    }
    &__desc {
      font-size: 16px;
      line-height: calc(19 / 16);
      text-align: center;
      letter-spacing: 0.03em;
    }
    &__icons-list,
    .icons-list {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 16px;
    }
    &__icon-link {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      color: var(--icon-color);
      transition-property: color, background-color;
      transition-duration: var(--transition-dir);
      transition-timing-function: var(--transition-time-func);
      transition-delay: 0s;
    }
    &__icon {
      fill: currentColor;
    }
    &__icon-link:hover,
    &__icon-link:focus {
      background-color: var(--btn-color);
      color: var(--bgrnd-color);
    }
  }
}
