// Filters section

.section-portfolio {
  width: 100%;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter-btn {
  padding: 6px 26px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
  background-color: var(--bgrnd-team);
  border: none;
  border-radius: 4px;
  outline: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-dir);
  transition-timing-function: var(--transition-time-func);
  transition-delay: 0s;
}

.filter-btn:hover {
  background-color: var(--btn-color);
  color: var(--bgrnd-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:focus {
  background-color: var(--btn-color);
  color: var(--bgrnd-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
