// Button

%btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  background-color: var(--btn-color);
  color: var(--bgrnd-color);
  border-radius: 4px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--transition-dir);
  transition-timing-function: var(--transition-time-func);
  transition-delay: 0s;
}
