:root {
  --btn-color: #2196f3;
  --main-txt-color: #757575;
  --title-txt-color: #212121;
  --bgrnd-color: #ffffff;
  --bgrnd-hero: #2f303a;
  --bgrnd-team: #f5f4fa;
  --border-color: #eeeeee;
  --border-color-secondary: #ececec;
  --additional-color-logo: #000000;
  --btn-active-color: #188ce8;
  --icon-color: #afb1b8;
  --transition-dir: 250ms;
  --transition-time-func: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto";
}
